<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

  <!-- Material Design icons and fonts  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-orange.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <title>Cryptocurrency Pricing Application</title>
</head>

<body>
  <div id="app">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Cryptocurrency Pricing</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#test">Test</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div v-bind:class="{'mdl-progress':true, 'mdl-js-progress':true, 'mdl-progress__indeterminate':isLoading}" style="width:100%"></div>
          <template>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="symbol" v-model.lazy="symbol">
                <label class="mdl-textfield__label" for="symbol">Symbol...</label>
              </div>
              <div class="mdl-cell mdl-card mdl-shadow--3dp" v-for="(result, symbol) in results">
                <div class="mdl-card__title mdl-card--border mdl-color--grey-300">
                  <h2 class="mdl-card__title-text">{{ symbol }}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <ul class="mdl-list" v-for="(price, currency) in result">
                    <li class="mdl-list__item">
                      {{ currency }}
                      <div class="mdl-layout-spacer"></div>
                      <strong>{{ price }}</strong>
                    </li>
                  </ul>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" v-on:click="removeSymbol(symbol)">
                    <i class="material-icons">close</i>
                  </button>
                </div>
              </div>
            </div>
          </template>
        </div>
      </main>
    </div>
  </div>

</body>
<script src="https://unpkg.com/vue"></script>

<script src="App.js"></script>

</html>