<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <meta charset="utf-8">
  <title>Cryptocurrency Pricing Application</title>
</head>

<body>
  <div class="container" id="app">
    <div class="row">
      <div class="title-bar">
        <button class="menu-icon" type="button"></button>
        <div class="title-bar-title">Cryptocurrency Pricing</div>
      </div>
    </div>
    <div class="card-section"></div>
    <div class="row">
      <template>
        <div class="columns large-4 medium-6" v-for="(result, index) in results">
          <div class="card">
            <div class="card-divider">
              <p> {{ index }} </p>
            </div>
            <div v-for="(curr, index) in result" class="card-section">
              <p>{{ index }} {{ curr }}</p>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="App.js"></script>

</html>